.wrapper {
	display: flex;
	flex-direction: column;
	gap: 25px;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}
.enable {
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	outline: none;
	background: rgba(255, 124, 124, 0.555);
	font-size: 1.2rem;
	cursor: pointer;
	transition: all 1s;
	color: rgba(0, 0, 0, 0.7);
}

.enable:hover {
	box-shadow: 0 0 10px 3px orange;
	color: black;
}

.accordion {
	width: 500px;
}

.item {
	background: rgba(209, 144, 144, 0.795);

	margin-bottom: 10px;
	padding: 20px 30px;
	border-radius: 5px;
}

.title {
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	background-color: rgba(231, 158, 0, 0.842);
	border-radius: 10px;
	width: 100%;
	border: none;
	outline: none;
	box-shadow: 0 0 3px 0.5px blue;
}

.content {
	color: black;
	height: auto;
	margin-top: 10px;
}

.plus {
	color: black;
	font-weight: bold;
	margin: 0 10px;
	font-size: large;
}
